<pre class='xdebug-var-dump' dir='ltr'>
<small>E:\wamp\www\adyen\app\Api\v1\Services\Purchase.php:112:</small>
<b>object</b>(<i>Adyen\Service\Checkout</i>)[<i>98</i>]
  <i>protected</i> 'paymentSession' <font color='#888a85'>=&gt;</font> 
    <b>object</b>(<i>Adyen\Service\ResourceModel\Checkout\PaymentSession</i>)[<i>100</i>]
      <i>protected</i> 'endpoint' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'https://checkout-test.adyen.com/checkout/v52/paymentSession'</font> <i>(length=59)</i>
      <i>protected</i> 'service' <font color='#888a85'>=&gt;</font> 
        <i>&amp;</i><b>object</b>(<i>Adyen\Service\Checkout</i>)[<i>98</i>]
      <i>protected</i> 'allowApplicationInfo' <font color='#888a85'>=&gt;</font> <small>boolean</small> <font color='#75507b'>false</font>
      <i>protected</i> 'allowApplicationInfoPOS' <font color='#888a85'>=&gt;</font> <small>boolean</small> <font color='#75507b'>false</font>
  <i>protected</i> 'paymentsResult' <font color='#888a85'>=&gt;</font> 
    <b>object</b>(<i>Adyen\Service\ResourceModel\Checkout\PaymentsResult</i>)[<i>93</i>]
      <i>protected</i> 'endpoint' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'https://checkout-test.adyen.com/checkout/v52/payments/result'</font> <i>(length=60)</i>
      <i>protected</i> 'service' <font color='#888a85'>=&gt;</font> 
        <i>&amp;</i><b>object</b>(<i>Adyen\Service\Checkout</i>)[<i>98</i>]
      <i>protected</i> 'allowApplicationInfo' <font color='#888a85'>=&gt;</font> <small>boolean</small> <font color='#75507b'>false</font>
      <i>protected</i> 'allowApplicationInfoPOS' <font color='#888a85'>=&gt;</font> <small>boolean</small> <font color='#75507b'>false</font>
  <i>protected</i> 'paymentMethods' <font color='#888a85'>=&gt;</font> 
    <b>object</b>(<i>Adyen\Service\ResourceModel\Checkout\PaymentMethods</i>)[<i>101</i>]
      <i>protected</i> 'endpoint' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'https://checkout-test.adyen.com/checkout/v52/paymentMethods'</font> <i>(length=59)</i>
      <i>protected</i> 'service' <font color='#888a85'>=&gt;</font> 
        <i>&amp;</i><b>object</b>(<i>Adyen\Service\Checkout</i>)[<i>98</i>]
      <i>protected</i> 'allowApplicationInfo' <font color='#888a85'>=&gt;</font> <small>boolean</small> <font color='#75507b'>false</font>
      <i>protected</i> 'allowApplicationInfoPOS' <font color='#888a85'>=&gt;</font> <small>boolean</small> <font color='#75507b'>false</font>
  <i>protected</i> 'payments' <font color='#888a85'>=&gt;</font> 
    <b>object</b>(<i>Adyen\Service\ResourceModel\Checkout\Payments</i>)[<i>99</i>]
      <i>protected</i> 'endpoint' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'https://checkout-test.adyen.com/checkout/v52/payments'</font> <i>(length=53)</i>
      <i>protected</i> 'allowApplicationInfo' <font color='#888a85'>=&gt;</font> <small>boolean</small> <font color='#75507b'>true</font>
      <i>protected</i> 'service' <font color='#888a85'>=&gt;</font> 
        <i>&amp;</i><b>object</b>(<i>Adyen\Service\Checkout</i>)[<i>98</i>]
      <i>protected</i> 'allowApplicationInfoPOS' <font color='#888a85'>=&gt;</font> <small>boolean</small> <font color='#75507b'>false</font>
  <i>protected</i> 'paymentsDetails' <font color='#888a85'>=&gt;</font> 
    <b>object</b>(<i>Adyen\Service\ResourceModel\Checkout\PaymentsDetails</i>)[<i>88</i>]
      <i>protected</i> 'endpoint' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'https://checkout-test.adyen.com/checkout/v52/payments/details'</font> <i>(length=61)</i>
      <i>protected</i> 'service' <font color='#888a85'>=&gt;</font> 
        <i>&amp;</i><b>object</b>(<i>Adyen\Service\Checkout</i>)[<i>98</i>]
      <i>protected</i> 'allowApplicationInfo' <font color='#888a85'>=&gt;</font> <small>boolean</small> <font color='#75507b'>false</font>
      <i>protected</i> 'allowApplicationInfoPOS' <font color='#888a85'>=&gt;</font> <small>boolean</small> <font color='#75507b'>false</font>
  <i>protected</i> 'requiresApiKey' <font color='#888a85'>=&gt;</font> <small>boolean</small> <font color='#75507b'>true</font>
  <i>private</i> 'client' <small>(Adyen\Service)</small> <font color='#888a85'>=&gt;</font> 
    <b>object</b>(<i>Adyen\Client</i>)[<i>102</i>]
      <i>private</i> 'config' <font color='#888a85'>=&gt;</font> 
        <b>object</b>(<i>Adyen\Config</i>)[<i>92</i>]
          <i>protected</i> 'data' <font color='#888a85'>=&gt;</font> 
            <b>array</b> <i>(size=12)</i>
              ...
          <i>protected</i> 'allowedInput' <font color='#888a85'>=&gt;</font> 
            <b>array</b> <i>(size=2)</i>
              ...
          <i>protected</i> 'defaultInput' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'array'</font> <i>(length=5)</i>
          <i>protected</i> 'allowedOutput' <font color='#888a85'>=&gt;</font> 
            <b>array</b> <i>(size=2)</i>
              ...
          <i>protected</i> 'defaultOutput' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'array'</font> <i>(length=5)</i>
      <i>private</i> 'httpClient' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>private</i> 'logger' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
</pre>